################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyBookJourneys/.vs/MyBookJourneys
/MyBookJourneys/mybookjourneys.client/obj/Debug
/MyBookJourneys/MyBookJourneys.Server/bin/Debug/net8.0
/MyBookJourneys/MyBookJourneys.Server/obj
/MyBookJourneys/MyBookJourneys.Server/appsettings.json
